.cityItem,
.cityItem:link,
.cityItem:visited {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  margin-bottom: 5px;

  background-color:#444;
  border-radius: 7px;
  padding:10px;
  border-left: 5px solid green;

  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.cityItem--active {
  border: 2px solid green;
  border-left: 5px solid green;
}

.emoji {
  font-size: 2.6rem;
  line-height: 1;
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: auto;
}

.date {
  font-size: 1.5rem;
}

.deleteBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5e5a5a;
  color: #FFF;
}

.deleteBtn:hover {
  background-color: #686808;
  color: #fff;
}
